<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Posts</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>

    <script>
        var mask = {
            money: function () {
                var el = this
                    , exec = function (v) {
                        v = v.replace(/\D/g, "");
                        v = new String(Number(v));
                        var len = v.length;
                        if (1 == len)
                            v = v.replace(/(\d)/, "0.0$1");
                        else if (2 == len)
                            v = v.replace(/(\d)/, "0.$1");
                        else if (len > 2) {
                            v = v.replace(/(\d{2})$/, '.$1');
                        }
                        return v;
                    };

                setTimeout(function () {
                    el.value = exec(el.value);
                }, 1);
            }

        }

        $(function () {
            $('#price').bind('keypress', mask.money);
            $('#price').bind('keyup', mask.money);
        });

    </script>

</head>

<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Lista de produtos</a>
            <a class="navbar-brand" href="/register">Novo produto</a>
            <a class="navbar-brand" href="/vitrine">Vitrine da loja</a>
        </nav>

        <div class="panel-body">
            <form method="POST" style="margin: 10px" action="salvaproduto" th:object="${product}">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">

                            <label>Nome do produto</label>
                            <input type="text" required="true" class="form-control input-sm" name="name" th:field="*{name}"  autofocus="autofocus" placeholder="Informe o nome do produto"
                                maxlength="200" size="200" />

                        </div>
                        <div class="form-group row">

                            <label>Descrição do produto</label>
                            <textarea class="form-control" rows="5" required="true" name="description" th:field="*{description}"></textarea>

                        </div>
                        <div class="form-group row">

                            <label>Preço</label>
                            <input type="text" name="price" required="true" class="form-control input-sm" id="price" th:field="*{price}" />

                        </div>

                        <div class="form-group row">

                            <label>Informe a URL da imagem</label>
                            <input type="text" name="photo" required="true" class="form-control input-sm" th:field="*{photo}" />
                            <br/>
                            <br/>
                        </div>

                        <input type="text" name="id" th:field="*{id}" style="margin: -1000px;"/>
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary" onclick="return alert('Cadastro salvo com sucesso!!!');">Salvar</button>
                    <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>